.is-relative {
  position: relative;
}

.bg-img {
  background-color: #999;
  background-image: url(../img/img.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}

.link {
  color: #fff;
}